html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.prof-box {
		width: 400px;
		height: 500px;
		background: rgba(0,0,0,0.4);
		margin: 0 auto;
	}